<!DOCTYPE HTML>
<html>
    <head>
	 <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Exam</title>
        <style>
        
        .jumbotron{
            background-color: red;
            color: beige;
        }
        .borderdiv{
            border-style: solid;
            border-color: aqua;
            border-width: 2px;
        }
        .borderdiv1{
            border-style: solid;
            border-color: black;
            border-width: 2px;
        }
        .li1{
            float: left;
            font-size: large;
            position: relative;
        	top:5vh;
        }
      
        .li2{
        	margin-left:7vh;
            font-weight: bold;
        }
        .li2 a:hover{
        	text-decoration: none;
            border-bottom: 3px solid cyan;
            color: black;
            padding-bottom:0.5vh; 
        }
        .li11{
            font-size: large;
            font-weight: bold;
        }

        .li21 a:hover{
        	text-decoration: none;
            border-bottom: 3px solid cyan;
            color: black;
            padding-bottom:0.5vh; 
        }
        .imageedit{
        	height: 100%;
        	width:100%;
        }
        
        .en1{
            height: 77vh;
        }
        .nd{
            height: 77vh;
            
        }
        .footer1{
            position: fixed;
            bottom: 0vh;
            left:0vh;
            height:6vh;
            width: 100%;
            background-color: black;
        }
        .enex{
            height: 77vh;
            background-color: inherit;
            /* border:3px solid black; */
        }
        .enex1{
            display: inline-block;
            position: relative;
            top:7vh;
            height: 51vh;
            width: 40vh  ;
            right:1.6vh;
            border:0.5px solid #a6a6a6;
            box-shadow: 3px 3px 3px black;
            overflow: hidden;
        }
        .decor{
            font-size: 3vh;
            height: 15vh;
            background-color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .forlist{
            height: 38vh;
            background-color: white;

        }
        .notice{
            font-size: 3vh;
            height: 23vh;
            display: flex;
            width:100%;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 3px black;
            background-color: white;
        }
        .noticelist{
            height: 23vh;
            width: 24vh;
            
            background-color: grey;
        }
        .alerts{
            height: 5vh;
            background-color: grey;
            border: 3px solid cornsilk;
            padding: 3vh;
        }
        .director{
            font-size: 3vh;
            height: 51vh;
            display: flex;
            width:100%;
            justify-content: center;
            align-items: center;
            position: relative;
            top:2.7vh;
            background-color: white;
            box-shadow: 3px 3px 3px black;
        }
        .directorlist{
            height: 51vh;
            width: 24vh;
            
            background-color: grey;
        }
        </style>
    </head>
    <body style="background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);" >
       
       <div class="container-fluid" >
       		<nav class="navbar">
       			<div class="container-fluid">
       			<div class="row"  style="border-bottom:3px solid grey;">
       				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:10vh;">
       					<img src="/assets/imgs/logo.jpg" class="imageedit">
       				</div>
       				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height:10vh;">
                            <ul  style="list-style-type: none">
                                    <li class="li1 li2"><a href="/kr/registerfirst">REGISTER</a></li>
                                    <li class="li1 li2"><a href="/bh/logina">LOGIN</a></li>
                                    <li class="li1 li2"><a href="maintenance.html">RESULTS</a></li>
                                    <li class="li1 li2"><a href="maintenance.html">TIMETABLE</a></li>
                                    <li class="li1 li2"><a href="maintenance.html">SYLLABUS</a></li>
                                    <li class="li1 li2"><a href="maintenance.html">CONTACT</a></li>
                                    <li class="li1 li2"><a href="maintenance.html">ABOUT US</a></li>

                                </ul>
                            {{!-- <button class="btn btn-primary btn-md" style="position:relative;float: right;top:2vh;">Logout</button> --}}
                       </div>
       			</div>
       			
       			</div>
       		</nav>
       	
       </div>

       <div class="container-fluid">
           <div class="container-fluid">
           <div class="row" style="position:relative; top:1vh;">
               <div class="col-lg-8  en1" >
                    <div class="container-fluid enex">
                        <div >
                            <span style="font-size: 5vh">Exam CELL Automation</span>
                            <span style="position: relative;  display: flex;justify-content: start; font-family: 'Times New Roman', Times, serif;font-size: 5vh;color: green">“The engineer has been, and is, a maker of history.”
                                    </span>
                            <span style="position: relative;  display: flex;justify-content: end; font-family: 'Times New Roman', Times, serif;font-size: 3vh;">— James Kip Finch
                                </span>
                        </div>
                                <div class="enex1">
                                    <div class="decor">
                                       <span style="font-size: 5vh;color: #000;"><b>COMPUTER</b></span> 
                                    </div>   
                                    <div class="forlist" style="display: flex;align-items: center;">
                                    <ul>
                                        <li style="font-size: 3.5vh;">30000 Students</li>
                                        <li style="font-size: 3.5vh;">90% Pass Rate</li>
                                        <li style="font-size: 3.5vh;">8 Lakh AVG Package</li>
                                        <li style="font-size: 3.5vh;">4 Years</li>
                                        <li class="li11 li21"style="font-size: 3.5vh;"><a href="#">Previous Question papers</a></li>

                                    </ul>                                 
                                    </div>
                                    
                                    </div>
                                <div class="enex1" style="left:1vh;">
                                        <div class="decor">
                                                <span style="font-size: 5vh;color: #000;opacity: 1;"><b>IT</b></span> 
                                             </div> 
                                             <div class="forlist" style="display: flex;align-items: center;">
                                                    <ul>
                                                        <li style="font-size: 3.5vh;">20000 Students</li>
                                                        <li style="font-size: 3.5vh;">85% Pass Rate</li>
                                                        <li style="font-size: 3.5vh;">7 Lakh AVG Package</li>
                                                        <li style="font-size: 3.5vh;">4 Years</li>
                                                        <li style="font-size: 3.5vh;" class="li11 li21"><a href="#">Previous Question papers</a></li>
                
                                                    </ul>                                 
                                                    </div>
                                                                     
                                    </div>
                                <div class="enex1"  style="left:4.6vh;">
                                        <div class="decor">
                                                <span style="font-size: 5vh;color: #000;opacity: 1;"><b>ENTC</b></span> 
                                             </div> 
                                             <div class="forlist" style="display: flex;align-items: center;">
                                                    <ul>
                                                        <li style="font-size: 3.5vh;">35000 Students</li>
                                                        <li style="font-size: 3.5vh;">80% Pass Rate</li>
                                                        <li style="font-size: 3.5vh;">6 Lakh AVG Package</li>
                                                        <li style="font-size: 3.5vh;">4 Years</li>
                                                        <li style="font-size: 3.5vh;" class="li11 li21"><a href="#" >Previous Question papers</a></li>
                
                                                    </ul>                                 
                                                    </div>
                                    </div>
                       
                    </div>
                   
               </div>
               <div class="col-lg-4  nd">
                    <div class="notice" style="display: flex;justify-content: start;">
                        <div class="noticelist" >
                            <br>
                            <span style="font-size:larger;"><center><b>Notice</b></center></span>
                            <span ><center><b>&</b></center></span>
                            <span ><center><b>Announcements</b></center></span>

                        </div>
                        <div style="width:40vh;">
                                <ul style="list-style-type:square;">
                                        <li style="font-size: 2.5vh;">18 Jan Holiday</li>
                                        <li style="font-size: 2.5vh;">FE Results Out</li>
                                        <li style="font-size: 2.5vh;">Time table out</li>
                                        <li style="font-size: 2.5vh;">Submit Bank details to respective College</li>
                                        <li style="font-size: 2.5vh;" class="li11 li21"><a href="#" >Regiter for exam</a></li>

                                    </ul>
                        </div>
                        
                    </div>
                    <div class="director" style="display: flex;justify-content: start;">
                            <div class="directorlist" >
                                  <img src="/assets/imgs/director.jpg" style="height:10vh;border-radius: 100px;position:relative;top:3vh;left:7vh;">
                                 <br><br> <br><span style="font-size: 2vh;margin-left:0.7vh;font-weight: bold;color: black;">Hon'ble Director BEE</span>
                                 <span style="font-size: 2vh;margin-left:0.7vh;font-weight: bold;color: black;position: relative;top:1vh;">BE Comptures</span>
                                 <br><span style="font-size: 2vh;margin-left:0.7vh;font-weight: bold;color: black;position: relative;top:2vh;">ME Comptures</span>
                                 <br><span style="font-size: 2vh;margin-left:0.7vh;font-weight: bold;color: black;position: relative;top:3vh;">MS Software Systems</span>
                                 <br><span style="font-size: 2vh;margin-left:0.7vh;font-weight: bold;color: black;position: relative;top:4vh;">PHD Comptures</span>

                                </div>
                            <div style="width:40vh;">
                                <p style="font-size: 2.2vh;position: relative;left:0.6vh;font-weight:600;padding:10px;color: rgb(30, 97, 109)">
                                        "Education began in prehistory, as adults trained the young in the knowledge and skills deemed necessary in their society. 
                                        In pre-literate societies, this was achieved orally and through imitation. Story-telling passed knowledge, values, and skills 
                                        from one generation to the next. As cultures began to extend their knowledge beyond skills that could be readily learned through
                                         imitation, formal education developed. Schools existed in Egypt at the time of the Middle Kingdom."
                                </p>
                            </div>
                    </div>
               </div>
           </div>
        </div>
       </div>
       <footer class="footer1">
            <span style="position: relative;top:2vh;left:65vh;color: white">Copyright © 2019 Pune University All rights reserved. | ExamOnline - Home |</span>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>

<!-- style="display: flex;align-items: flex-start; -->