<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,initial-scale-1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title >Login</title>
    <style>
    .jumbotron{
            background-color: red;
            color: beige;
        }
        .borderdiv{
            border-style: solid;
            border-color: aqua;
            border-width: 2px;
        }
        .borderdiv1{
            border-style: solid;
            border-color: black;
            border-width: 2px;
        }
        .li1{
            font-size: large;
            position: relative;
            font-weight: bold;
        }
      
        .li1 a:hover{
        	text-decoration: none;
            border-bottom: 3px solid cyan;
            color: black;
            padding-bottom:0.5vh; 
        }
        .main{
            height:75vh;
            border:3px solid rgb(218, 202, 202);
            border-radius: 5px;
            box-shadow: 3px 3px 3px black;
            background-color: white;
        }
        .footer1{
            position: fixed;
            bottom: 0vh;
            left:0vh;
            height:6vh;
            width: 100%;
            background-color: black;
            color: white;
        }
        .emailp{
            border:3px solid blue;
            border-radius: 5px;
            font-size:1.5rem;
        }
    </style>
</head>
<body style="background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);" >
         <div class="container-fluid">
        <nav class="navbar ">
            
                    <div class="row  col"  style="border-bottom:3px solid grey;">
                            <div class="col-1">
                                <img src="/assets/imgs/logo.jpg" class="img-fluid" style="height: 5rem;">
                            </div>
                                
                                 <ul class="d-flex   col align-items-end "  style="list-style-type: none;">  
                                    <div class="col d-flex justify-content-around">
                                    <li class="li1 li2"><a href="/examdash">DASHBOARD</a></li>
                                    <li class="li1 li2"><a href="/kr/client/result">RESULTS</a></li>
                                    <li class="li1 li2"><a href="/kr/timetable">TIMETABLE</a></li>
                                    <li class="li1 li2"><a href="/maintenance">CONTACT</a></li>
                                    <li class="li1 li2"><a href="/maintenance">ABOUT US</a></li>
                                        </div>
                                        
                                </ul>
                        </div>
            
        </nav>
    </div>
   
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-4   main my-4">
                        <div class="row d-flex  flex-column align-items-center justify-content-center">
                                <span style="font-size: 2rem;">SAVITRIBAI PHULE PUNE UNIVERSITY</span>
                                <img src="/assets/imgs/logo.jpg">
                                <span style="font-size: 2rem;" style="border-bottom:4px solid red;padding-bottom: 0.5vh"><u>SIGN IN</u></span>

                            
                         </div>
                         <form action="/bh/logina" method="post">
                         <div class="row col mt-5  mx-1 d-flex  flex-column  align-items-center justify-content-start" style="height:9vh;">
                                    <input type="text" class="col-10 emailp" placeholder="Email" name="emailid">

                         </div>
                         <div class="row col mt-5  mx-1 d-flex   flex-column align-items-center justify-content-start " style="height:9vh;">
                                <input type="password" class="col-10 emailp" placeholder="Password" name="password">

                     </div>
                     {{#unless check}}
                            <p style="color:red;margin-left:22vh;" >Invalid Login Credentials</p>
                         {{/unless}}
                     <div class="row col mt-5  mx-1 d-flex   flex-column align-items-center justify-content-start " style="height:9vh;">
                        <input type="submit" class="btn btn-info btn-lg" value="LOG IN">
                 </div>
                        
                 </form>
                     <div class="row col mt-5  mx-1 d-flex  align-items-center justify-content-end" style="height:3vh;  position: relative; bottom: 7vh;">
                        {{!-- <input type="checkbox" style="position: relative;left:5vh"> --}}
                        {{!-- <span style="font-size: 1.3rem;position: relative;left:6vh">Remember Me</span> --}}
                        <span style="font-size: 1.3rem;position: relative;"><a href="#" style="color:red"><u>Forgot&nbsp;Password?</u></a></span>

                 </div>

                </div>
            </div>
        </div>

    </div>

    <footer class="footer1">
            <span style="position: relative;top:2vh;left:65vh;">Copyright © 2019 Pune University All rights reserved. | ExamOnline - Home |</span>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
