#outline{
				width: 50%;
				height: 80%;
				background-color: rgb(255,255,255);
				margin-left: 25%;
				margin-right: 25%;
				margin-top: 20px;
				margin-bottom: 20px;
				font-weight: bold;
				box-shadow: 10px 10px 15px grey;
				
			}

			.header{

				background-size: cover;
				background-position: center;
				justify-content: center;
				align-items: center;
				font-family: sans-serif;
			}
			.search-field{
				height: 50px;
				padding: 10px;

			}
			.search-btn{

				height: 50px;
				width: 150px;
				background: #f44336;
				border: none;
				color: #fff;
			}
			.search-btn:hover{

				
				background: #bb0d00;
				cursor: pointer;	
			}
			.form-box{
				background: rgb(0,0,0);
				padding: 30px 50px;
				text-align: center;
			}

			table {
			  border-collapse: collapse;
			  border-spacing: 0;
			  width: 100%;
			  border: 1px solid #ddd;
			}

			th, td {
			  text-align: left;
			  padding: 16px;
			}

			tr:nth-child(even) {
			  background-color: #f2f2f2
			}